div {
  margin-bottom: 20px;
  margin-left: 6px;
}
label {
  display: inline-block; 
  width: 60px;
  margin-left: 4px;
  font-weight: bold;
}
#calculate {
  margin-left: 6px;
  color:green;
  font-weight: bold;
}
#result {
  margin-left: 6px;
}

